/* Coolors Exported Palette - https://coolors.co/feeb97-4fb783-409da9-034561 */

/* CSS HEX */
--light-gold: #feeb97ff;
--mint-leaf: #4fb783ff;
--pacific-blue: #409da9ff;
--yale-blue: #034561ff;

/* CSS HSL */
--light-gold: hsla(49, 98%, 79%, 1);
--mint-leaf: hsla(150, 42%, 51%, 1);
--pacific-blue: hsla(187, 45%, 46%, 1);
--yale-blue: hsla(198, 94%, 20%, 1);

/* SCSS HEX */
$light-gold: #feeb97ff;
$mint-leaf: #4fb783ff;
$pacific-blue: #409da9ff;
$yale-blue: #034561ff;

/* SCSS HSL */
$light-gold: hsla(49, 98%, 79%, 1);
$mint-leaf: hsla(150, 42%, 51%, 1);
$pacific-blue: hsla(187, 45%, 46%, 1);
$yale-blue: hsla(198, 94%, 20%, 1);

/* SCSS RGB */
$light-gold: rgba(254, 235, 151, 1);
$mint-leaf: rgba(79, 183, 131, 1);
$pacific-blue: rgba(64, 157, 169, 1);
$yale-blue: rgba(3, 69, 97, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-right: linear-gradient(90deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-bottom: linear-gradient(180deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-left: linear-gradient(270deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-top-right: linear-gradient(45deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-bottom-right: linear-gradient(135deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-top-left: linear-gradient(225deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-bottom-left: linear-gradient(315deg, #feeb97ff, #4fb783ff, #409da9ff, #034561ff);
$gradient-radial: radial-gradient(#feeb97ff, #4fb783ff, #409da9ff, #034561ff);